version: "2.4"

volumes:
  database:
    name: rsc-db
  blockchain:
    name: rsc-data
  tipbot-blockchain:
    name: rsc-tipbot-data
  tipbot-database:
    name: rsc-tipbot-db

services:

  indexer:
    container_name: rsc-indexer
    image: blockcore/indexer:0.1.24
    environment:
      VIRTUAL_HOST: rsc.indexer.blockcore.net
      VIRTUAL_PORT: 9910
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: rsc.indexer.blockcore.net
      LETSENCRYPT_EMAIL: admin@blockcore.net
      ASPNETCORE_URLS: https://*:9910
      Logging__LogLevel__Default: Debug
    command: ["--chain=RSC"]
    restart: unless-stopped
    depends_on:
        - mongo
        - chain

  chain:
    container_name: rsc-chain
    image: blockcore/node-multi:1.1.36
    command: ["--chain=RSC", "-server=1", "-txindex=1", "-iprangefiltering=0", "-rpcallowip=192.168.0.0/8", "-rpcallowip=172.0.0.0/8", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:14003", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword"]
    restart: unless-stopped
    stop_grace_period: 15m
    volumes:
      - blockchain:/root/.blockcore
    ports:
      - 14001:14001 # Make this a public node.

  mongo:
    container_name: rsc-mongo
    image: mongo:5.0.5
    mem_limit: 1500m
    restart: unless-stopped
    stop_grace_period: 5m
    volumes:
      - database:/data/db
      - database:/data/configdb

  # tipbot:
  #   container_name: rsc-tipbot
  #   image: blockcore/tipbot:0.0.7
  #   env_file:
  #     - tipbot.env
  #   command: ["--chain=RSC"]
  #   restart: unless-stopped
  #   depends_on:
  #       - tipbot-database
  #       - tipbot-chain
    
  # tipbot-chain:
  #   container_name: rsc-tipbot-chain
  #   image: blockcore/node-multi:1.1.36
  #   command: ["--chain=RSC", "-server=1", "-txindex=0", "-iprangefiltering=0", "-rpcallowip=192.168.0.0/8", "-rpcallowip=172.0.0.0/8", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:15008", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword"]
  #   restart: unless-stopped
  #   stop_grace_period: 15m
  #   volumes:
  #     - tipbot-blockchain:/root/.blockcore

  # tipbot-database:
  #   container_name: rsc-tipbot-db
  #   image: mcr.microsoft.com/mssql/server:2019-latest
  #   env_file:
  #     - tipbot.env
  #   environment:
  #     ACCEPT_EULA: "Y"
  #   restart: unless-stopped
  #   volumes:
  #     - tipbot-database:/var/opt/mssql
