version: "2.4"

volumes:
  database:
    name: rsc-db
  blockchain:
    name: rsc-data
  # tipbot-blockchain:
  #   name: rsc-tipbot-data
  # tipbot-database:
  #   name: rsc-tipbot-db

services:

  indexer:
    container_name: rsc-indexer
    image: blockcore/indexer:0.2.33
    mem_limit: 1024m
    cpus: 0.200
    environment:
      VIRTUAL_HOST: rsc.indexer.blockcore.net
      VIRTUAL_PORT: 9910
      VIRTUAL_PROTO: http
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: rsc.indexer.blockcore.net
      LETSENCRYPT_EMAIL: admin@blockcore.net
      ASPNETCORE_URLS: https://+:9910
      Logging__LogLevel__Default: Debug
    command: ["--chain=RSC"]
    restart: unless-stopped
    depends_on:
      mongo:
        condition: service_healthy
      chain:
        condition: service_healthy
    networks:
      - rscnetwork
      - proxy

  chain:
    container_name: rsc-chain
    image: blockcore/node-multi:1.1.41
    mem_limit: 3072m
    cpus: 0.200
    healthcheck:
      test: curl --fail http://localhost:14003/api/Node/status || exit 1
      interval: 10s
      retries: 5
      start_period: 5s
      timeout: 10s
    command: ["--chain=RSC", "-server=1", "-txindex=1", "-iprangefiltering=0", "-rpcallowip=10.202.0.0/8", "-rpcallowip=10.201.0.0/8", "-rpcallowip=192.168.0.0/8", "-rpcallowip=172.0.0.0/8", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:14003", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword"]
    restart: unless-stopped
    stop_grace_period: 15m
    volumes:
      - blockchain:/root/.blockcore
    ports:
      - 14001:14001 # Make this a public node.
    networks:
      - rscnetwork

  mongo:
    container_name: rsc-mongo
    image: mongo:5.0.5
    mem_limit: 2048m
    cpus: 0.200
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo mongo:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s
    restart: unless-stopped
    stop_grace_period: 5m
    volumes:
      - database:/data/db
      - database:/data/configdb
    networks:
      - rscnetwork

  # tipbot:
  #   container_name: rsc-tipbot
  #   image: blockcore/tipbot:0.1.8
  #   env_file:
  #     - tipbot.env
  #   command: ["--chain=RSC"]
  #   restart: unless-stopped
  #   depends_on:
  #       - tipbot-database
  #       - tipbot-chain
    
  # tipbot-chain:
  #   container_name: rsc-tipbot-chain
  #   image: blockcore/node-multi:1.1.41
  #   command: ["--chain=RSC", "-server=1", "-txindex=0", "-iprangefiltering=0", "-rpcallowip=10.202.0.0/8", "-rpcallowip=10.201.0.0/8", "-rpcallowip=192.168.0.0/8", "-rpcallowip=172.0.0.0/8", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:15008", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword"]
  #   restart: unless-stopped
  #   stop_grace_period: 15m
  #   volumes:
  #     - tipbot-blockchain:/root/.blockcore

  # tipbot-database:
  #   container_name: rsc-tipbot-db
  #   image: mcr.microsoft.com/mssql/server:2019-latest
  #   env_file:
  #     - tipbot.env
  #   environment:
  #     ACCEPT_EULA: "Y"
  #   restart: unless-stopped
  #   volumes:
  #     - tipbot-database:/var/opt/mssql

networks:
  rscnetwork:
    external: false
    name: rscnetwork
  proxy:
    external: true
    name: proxy
