version: "2.4"

volumes:
  database:
    name: tstrax-db
  blockchain:
    name: tstrax-data
  # tipbot-blockchain:
  #   name: tstrax-tipbot-data
  # tipbot-database:
  #   name: tstrax-tipbot-db

services:

  indexer:
    container_name: tstrax-indexer
    image: blockcore/indexer:0.2.31
    environment:
      VIRTUAL_HOST: tstrax.indexer.blockcore.net
      VIRTUAL_PORT: 9910
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: tstrax.indexer.blockcore.net
      LETSENCRYPT_EMAIL: admin@blockcore.net
      ASPNETCORE_URLS: https://*:9910
      Logging__LogLevel__Default: Debug
    command: ["--chain=TSTRAX"]
    restart: unless-stopped
    depends_on:
        - mongo
        - chain

  chain:
    container_name: tstrax-chain
    image: blockcore/node-multi:1.1.39
    command: ["--chain=STRAX", "-testnet=1", "-server=1", "-txindex=1", "-iprangefiltering=0", "-rpcallowip=192.168.0.0/8", "-rpcallowip=172.0.0.0/8", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:27103", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword"]
    restart: unless-stopped
    stop_grace_period: 15m
    volumes:
      - blockchain:/root/.blockcore
    ports:
      - 27105:27105 # Make this a public node.

  mongo:
    container_name: tstrax-mongo
    image: mongo:5.0.5
    mem_limit: 5000m
    restart: unless-stopped
    stop_grace_period: 5m
    volumes:
      - database:/data/db
      - database:/data/configdb

  # tipbot:
  #   container_name: tstrax-tipbot
  #   image: blockcore/tipbot:0.0.3
  #   env_file:
  #     - tipbot.env
  #   command: ["--chain=TSTRAX"]
  #   restart: unless-stopped
  #   depends_on:
  #       - tipbot-database
  #       - tipbot-chain
    
  # tipbot-chain:
  #   container_name: tstrax-tipbot-chain
  #   image: blockcore/node-multi:1.1.39
  #   command: ["--chain=STRAX", "-testnet=1", "-server=1", "-txindex=0", "-iprangefiltering=0", "-rpcallowip=192.168.0.0/8", "-rpcallowip=172.0.0.0/8", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:17103", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword"]
  #   restart: unless-stopped
  #   stop_grace_period: 15m
  #   volumes:
  #     - tipbot-blockchain:/root/.blockcore

  # tipbot-database:
  #   container_name: tstrax-tipbot-db
  #   image: mcr.microsoft.com/mssql/server:2019-latest
  #   env_file:
  #     - tipbot.env
  #   environment:
  #     ACCEPT_EULA: "Y"
  #   restart: unless-stopped
  #   volumes:
  #     - tipbot-database:/var/opt/mssql
