version: "2.4"

volumes:
  database:
    name: crs-db
  blockchain:
    name: crs-data
  
services:

  explorer:
    container_name: crs-explorer
    image: blockcore/explorer:0.1.13
    environment:
      VIRTUAL_HOST: crs.explorer.blockcore.net
      VIRTUAL_PORT: 9911
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: crs.explorer.blockcore.net
      LETSENCRYPT_EMAIL: admin@blockcore.net
    command: ["--chain=CRS"]
    restart: unless-stopped

  indexer:
    container_name: crs-indexer
    image: blockcore/indexer-crs:0.1.17
    environment:
      VIRTUAL_HOST: crs.indexer.blockcore.net
      VIRTUAL_PORT: 9910
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: crs.indexer.blockcore.net
      LETSENCRYPT_EMAIL: admin@blockcore.net
      ASPNETCORE_URLS: https://*:9910
    command: ["--chain=CRS"]
    restart: unless-stopped
    depends_on:
        - mongo
        - chain

  chain:
    container_name: crs-chain
    image: blockcore/node-crs:1.0.30
    command: ["-server=1", "-iprangefiltering=0", "-rpcallowip=192.168.0.0/8", "-rpcallowip=172.0.0.0/8", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:37223", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword"]
    restart: unless-stopped
    stop_grace_period: 15m
    volumes:
      - blockchain:/root/.blockcore
    ports:
      - 16179:16179 # Make this a public node.

  mongo:
    container_name: crs-mongo
    image: mongo:5.0.5
    command: "--wiredTigerCacheSizeGB 4.5"
    mem_limit: 4500m
    restart: unless-stopped
    stop_grace_period: 5m
    volumes:
      - database:/data/db
      - database:/data/configdb

