version: "2.4"

services:

  explorer:
    container_name: blockcore-explorer
    image: blockcore/explorer:0.2.24
    mem_limit: 256m
    cpus: 0.200
    environment:
      VIRTUAL_HOST: explorer.blockcore.net
      VIRTUAL_PORT: 9911
      VIRTUAL_PROTO: http
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: explorer.blockcore.net
      LETSENCRYPT_EMAIL: admin@blockcore.net
    command: ["--chain=BLOCKCORE"]
    restart: unless-stopped
    networks:
      - blockcorenetwork
      - proxy
networks:
  blockcorenetwork:
    external: false
    name: blockcorenetwork
  proxy:
    external: true
    name: proxy