TipBot__BotToken=
TipBot__ConnectionString=Server=btc-tipbot-db,1433;Database=TipBot;Integrated Security=False;User Id=SA;Password=YOUR-PASSWORD;MultipleActiveResultSets=True
TipBot__WalletRecoveryPhrase=RECOVERY PHRASE FILL OUT!
TipBot__WalletPassword=WALLET-PASSWORD
SA_PASSWORD=YOUR-PASSWORD