version: "2.4"

volumes:
  database:
    name: serf-db
  blockchain:
    name: serf-data
  tipbot-blockchain:
    name: serf-tipbot-data
  tipbot-database:
    name: serf-tipbot-db

services:

  indexer:
    container_name: serf-indexer
    image: blockcore/indexer:0.1.25
    environment:
      VIRTUAL_HOST: serf.indexer.blockcore.net
      VIRTUAL_PORT: 9910
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: serf.indexer.blockcore.net
      LETSENCRYPT_EMAIL: admin@blockcore.net
      ASPNETCORE_URLS: https://*:9910
      Logging__LogLevel__Default: Debug
    command: ["--chain=SERF"]
    restart: unless-stopped
    depends_on:
        - mongo
        - chain

  chain:
    container_name: serf-chain
    image: blockcore/node-multi:1.1.36
    command: ["--chain=SERF", "-server=1", "-txindex=1", "-iprangefiltering=0", "-rpcallowip=192.168.0.0/8", "-rpcallowip=172.0.0.0/8", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:15113", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword"]
    restart: unless-stopped
    stop_grace_period: 15m
    volumes:
      - blockchain:/root/.blockcore
    ports:
      - 15111:15111 # Make this a public node.

  mongo:
    container_name: serf-mongo
    image: mongo:5.0.5
    mem_limit: 1500m
    restart: unless-stopped
    stop_grace_period: 5m
    volumes:
      - database:/data/db
      - database:/data/configdb

  tipbot:
    container_name: serf-tipbot
    image: blockcore/tipbot:0.0.3
    env_file:
      - tipbot.env
    command: ["--chain=SERF"]
    restart: unless-stopped
    depends_on:
        - tipbot-database
        - tipbot-chain
    
  tipbot-chain:
    container_name: serf-tipbot-chain
    image: blockcore/node-multi:1.1.36
    command: ["--chain=SERF", "-server=1", "-txindex=0", "-iprangefiltering=0", "-rpcallowip=192.168.0.0/8", "-rpcallowip=172.0.0.0/8", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:15113", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword"]
    restart: unless-stopped
    stop_grace_period: 15m
    volumes:
      - tipbot-blockchain:/root/.blockcore

  tipbot-database:
    container_name: serf-tipbot-db
    image: mcr.microsoft.com/mssql/server:2019-latest
    env_file:
      - tipbot.env
    environment:
      ACCEPT_EULA: "Y"
    restart: unless-stopped
    volumes:
      - tipbot-database:/var/opt/mssql
