version: "2.4"

volumes:
  database:
    name: implx-db
  blockchain:
    name: implx-data
  tipbot-blockchain:
    name: implx-tipbot-data
  tipbot-database:
    name: implx-tipbot-db

services:

  indexer:
    container_name: implx-indexer
    image: blockcore/indexer:0.2.32
    deploy:
      resources:
          limits:
            cpus: '0.200'
            memory: 1024M
    environment:
      VIRTUAL_HOST: implx.indexer.blockcore.net
      VIRTUAL_PORT: 9910
      VIRTUAL_PROTO: http
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: implx.indexer.blockcore.net
      LETSENCRYPT_EMAIL: admin@blockcore.net
      ASPNETCORE_URLS: https://+:9910
      Logging__LogLevel__Default: Debug
    command: ["--chain=IMPLX"]
    restart: unless-stopped
    depends_on:
      mongo:
        condition: service_healthy
      chain:
        condition: service_healthy
    networks:
      - implxnetwork
      - proxy

  chain:
    container_name: implx-chain
    image: blockcore/node-multi:1.1.39
    deploy:
      resources:
          limits:
            cpus: '0.200'
            memory: 6144M
    healthcheck:
      test: curl --fail http://localhost:18103/api/Node/status || exit 1
      interval: 10s
      retries: 5
      start_period: 5s
      timeout: 10s
    command: ["--chain=IMPLX", "-server=1", "-txindex=1", "-iprangefiltering=0", "-rpcallowip=192.168.0.0/8", "-rpcallowip=172.0.0.0/8", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:18103", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword"]
    restart: unless-stopped
    stop_grace_period: 15m
    volumes:
      - blockchain:/root/.blockcore
    ports:
      - 18105:18105 # Make this a public node.
    networks:
      - implxnetwork

  mongo:
    container_name: implx-mongo
    image: mongo:5.0.5
    deploy:
      resources:
          limits:
            cpus: '0.200'
            memory: 2048M
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo mongo:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s
    mem_limit: 3000m
    restart: unless-stopped
    stop_grace_period: 5m
    volumes:
      - database:/data/db
      - database:/data/configdb
    networks:
      - implxnetwork

  tipbot:
    container_name: implx-tipbot
    image: blockcore/tipbot:0.0.3
    deploy:
      resources:
          limits:
            cpus: '0.200'
            memory: 1024M
    env_file:
      - tipbot.env
    command: ["--chain=IMPLX"]
    restart: unless-stopped
    depends_on:
      tipbot-database:
        condition: service_started
      tipbot-chain:
        condition: service_healthy
    networks:
      - implxnetwork
    
  tipbot-chain:
    container_name: implx-tipbot-chain
    image: blockcore/node-multi:1.1.39
    deploy:
      resources:
          limits:
            cpus: '0.200'
            memory: 6144M
    healthcheck:
      test: curl --fail http://localhost:18103/api/Node/status || exit 1
      interval: 10s
      retries: 5
      start_period: 5s
      timeout: 10s
    command: ["--chain=IMPLX", "-server=1", "-txindex=0", "-iprangefiltering=0", "-rpcallowip=192.168.0.0/8", "-rpcallowip=172.0.0.0/8", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:18103", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword"]
    restart: unless-stopped
    stop_grace_period: 15m
    volumes:
      - tipbot-blockchain:/root/.blockcore
    networks:
      - implxnetwork

  tipbot-database:
    container_name: implx-tipbot-db
    image: mcr.microsoft.com/mssql/server:2019-latest
    deploy:
      resources:
          limits:
            cpus: '0.500'
            memory: 2048M
    env_file:
      - tipbot.env
    environment:
      ACCEPT_EULA: "Y"
    restart: unless-stopped
    volumes:
      - tipbot-database:/var/opt/mssql
    networks:
      - implxnetwork

networks:
  implxnetwork:
    external: false
    name: implxnetwork
  proxy:
    external: true
    name: proxy