version: "2.4"

# volumes:
#   database:
#     name: btc-db
#   blockchain:
#     name: btc-data
  # tipbot-blockchain:
  #   name: btc-tipbot-data
  # tipbot-database:
  #   name: btc-tipbot-db

# volumes:
#   prometheus-data:
#     driver: local
#     driver_opts:
#       o: bind
#       type: none
#       device: /disk1/prometheus-data

services:

  explorer:
    container_name: btc-explorer
    image: blockcore/explorer:0.1.14
    environment:
      VIRTUAL_HOST: btc.explorer.blockcore.net
      VIRTUAL_PORT: 9911
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: btc.explorer.blockcore.net
      LETSENCRYPT_EMAIL: admin@blockcore.net
    command: ["--chain=BTC"]
    restart: unless-stopped

  indexer:
    container_name: btc-indexer
    image: blockcore/indexer:0.1.22
    environment:
      VIRTUAL_HOST: btc.indexer.blockcore.net
      VIRTUAL_PORT: 9910
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: btc.indexer.blockcore.net
      LETSENCRYPT_EMAIL: admin@blockcore.net
    command: ["--chain=BTC"]
    restart: unless-stopped
    depends_on:
        - mongo
        - chain

  chain:
    container_name: btc-chain
    mem_limit: 6000m
    image: blockcore/node-multi:1.1.34
    command: ["--chain=BTC", "-server=1", "-txindex=1", "-dbtype=rocksdb", "-rpcallowip=192.168.0.0/8", "-rpcallowip=172.0.0.0/8", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:37220", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword", "-assumedvalid=00000000000000000004bac129769598d1fad2b42859e625729661a32b9c3e71"]
    restart: unless-stopped
    stop_grace_period: 15m
    volumes:
      - /mnt/storage/blockcore/btc/node:/root/.blockcore
    ports:
      - 8333:8333 # Make this a public node.

  mongo:
    container_name: btc-mongo
    image: mongo:5.0.5
    command: "--wiredTigerCacheSizeGB 5.0"
    mem_limit: 5000m
    restart: unless-stopped
    stop_grace_period: 5m
    volumes:
      - /mnt/storage/blockcore/btc/db:/data/db
      - /mnt/storage/blockcore/btc/db:/data/configdb

  # tipbot:
  #   container_name: strat-tipbot
  #   image: blockcore/tipbot:0.0.3
  #   env_file:
  #     - tipbot.env
  #   command: ["--chain=STRAT"]
  #   restart: unless-stopped
  #   depends_on:
  #       - tipbot-database
  #       - tipbot-chain
    
  # tipbot-chain:
  #   container_name: strat-tipbot-chain
  #   image: blockcore/node-strat:1.0.29
  #   command: ["-server=1", "-txindex=0", "-rpcallowip=172.0.0.0/8", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:37221", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword"]
  #   restart: unless-stopped
  #   stop_grace_period: 15m
  #   volumes:
  #     - tipbot-blockchain:/root/.blockcore

  # tipbot-database:
  #   container_name: strat-tipbot-db
  #   image: mcr.microsoft.com/mssql/server:2019-latest
  #   env_file:
  #     - tipbot.env
  #   environment:
  #     ACCEPT_EULA: "Y"
  #   restart: unless-stopped
  #   volumes:
  #     - tipbot-database:/var/opt/mssql
