version: "2.4"

volumes:
  database:
    name: city-db
  blockchain:
    name: city-data
  tipbot-blockchain:
    name: city-tipbot-data
  tipbot-database:
    name: city-tipbot-db
  bws-database:
    name: city-bws-db

services:

  bwsnode:
    container_name: city-bws-node
    image: blockcore-bws-city
    command: ["node"]
    environment:
      VIRTUAL_HOST: city.api.blockcore.net
      VIRTUAL_PORT: 3000
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: city.api.blockcore.net
      LETSENCRYPT_EMAIL: admin@blockcore.net
      DB_HOST: city-bws-mongo
    restart: always
    depends_on:
        - mongo
        - chain
    ports:
      #- 8100:8100
      - 3000:3000
    env_file:
      - bws.env

  bwsapi:
    # build: .
    tty: true
    container_name: city-bws-api
    image: blockcore-bws-city
    command: ["bws:start"]
    environment:
      VIRTUAL_HOST: city.bws.blockcore.net
      VIRTUAL_PORT: 3232
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: city.bws.blockcore.net
      LETSENCRYPT_EMAIL: admin@blockcore.net
      DB_HOST: city-bws-mongo
    depends_on:
        - mongo
        - chain
    ports:
      - 3232:3232
    env_file:
      - bws.env

  bwsinsight:
    container_name: city-bws-insight
    image: blockcore-bws-city
    command: ["insight:prod"]
    environment:
      VIRTUAL_HOST: city.insight.blockcore.net
      VIRTUAL_PORT: 8200
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: city.insight.blockcore.net
      LETSENCRYPT_EMAIL: admin@blockcore.net
      DB_HOST: city-bws-mongo
    restart: always
    depends_on:
        - mongo
    ports:
      - 8200:8200
    env_file:
      - bws.env

  bwsmongo:
    container_name: city-bws-mongo
    image: mongo:3.6.18
    command: "--wiredTigerCacheSizeGB 3.5"
    mem_limit: 3500m
    restart: always
    stop_grace_period: 5m
    volumes:
      - bws-database:/data/db
      - bws-database:/data/configdb


  explorer:
    container_name: city-explorer
    image: blockcore/explorer:0.1.7
    environment:
      VIRTUAL_HOST: city.explorer.blockcore.net,explorer.city-chain.org
      VIRTUAL_PORT: 9911
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: city.explorer.blockcore.net,explorer.city-chain.org
      LETSENCRYPT_EMAIL: admin@blockcore.net
    command: ["--chain=CITY"]
    restart: always

  indexer:
    container_name: city-indexer
    image: blockcore/indexer:0.1.8
    environment:
      VIRTUAL_HOST: city.indexer.blockcore.net
      VIRTUAL_PORT: 9910
      VIRTUAL_NETWORK: proxy
      LETSENCRYPT_HOST: city.indexer.blockcore.net
      LETSENCRYPT_EMAIL: admin@blockcore.net
      ASPNETCORE_URLS: https://*:9910
    command: ["--chain=CITY"]
    restart: always
    depends_on:
        - mongo
        - chain

  chain:
    container_name: city-chain
    image: blockcore/node-city:1.0.21
    command: ["-server=1", "-txindex=1", "-iprangefiltering=0", "-rpcallowip=172.0.0.0/8", "-whitelist=172.27.0.1", "-whitelist=172.27.0.2", "-whitelist=172.27.0.3", "-whitelist=172.27.0.4", "-whitelist=172.27.0.5", "-whitelist=172.27.0.6", "-whitelist=172.27.0.7", "-whitelist=172.27.0.8", "-whitelist=172.27.0.9", "-whitelist=172.27.0.10", "-whitelist=172.27.0.11", "-whitelist=172.27.0.12", "-whitelist=172.27.0.13", "-whitelist=172.27.0.14", "-whitelist=172.27.0.15", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:4335", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword"]
    restart: always
    stop_grace_period: 15m
    volumes:
      - blockchain:/root/.blockcore
    ports:
      - 4333:4333 # Make this a public node.

  mongo:
    container_name: city-mongo
    image: mongo:3.6.18
    command: "--wiredTigerCacheSizeGB 3.5"
    mem_limit: 3500m
    restart: always
    stop_grace_period: 5m
    volumes:
      - database:/data/db
      - database:/data/configdb

  tipbot:
    container_name: city-tipbot
    image: blockcore/tipbot:0.0.3
    env_file:
      - tipbot.env
    command: ["--chain=CITY"]
    restart: always
    depends_on:
        - tipbot-database
        - tipbot-chain
    
  tipbot-chain:
    container_name: city-tipbot-chain
    image: blockcore/node-city:1.0.21
    command: ["-server=1", "-txindex=0", "-iprangefiltering=0", "-rpcallowip=172.0.0.0/8", "-rpcbind=0.0.0.0", "-apiuri=http://0.0.0.0:4335", "-rpcuser=rpcuser", "-rpcpassword=rpcpassword"]
    restart: always
    stop_grace_period: 15m
    volumes:
      - tipbot-blockchain:/root/.blockcore

  tipbot-database:
    container_name: city-tipbot-db
    image: mcr.microsoft.com/mssql/server:2019-latest
    env_file:
      - tipbot.env
    environment:
      ACCEPT_EULA: "Y"
    restart: always
    volumes:
      - tipbot-database:/var/opt/mssql
#    ports:
#      - 1433:1433